

.ojok {
  text-align: left;
}
.ojok h1 a {
  color: #333;
  text-decoration: none;
  padding-left: 15px;
  font-size: 18px;

}
.ojok h1 a span{
  display: block;
  padding: 5px 0px 5px 15px;
  letter-spacing: 2px;
}

/*.main {
  margin:100px 70px 0 70px;

}*/

.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: silver;
}



img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
