

.ojok {
  text-align: left;
}
.ojok h1 a {
  color: #333;
  text-decoration: none;
  padding-left: 15px;
  font-size: 18px;

}
.ojok h1 a span{
  display: block;
  padding: 5px 0px 5px 15px;
  letter-spacing: 2px;
}

.first {
  margin-top: 50px;
}

.brief {
  width: 50%;
  float: left;
}
.pic{
  width: 50%;
  float: right;
}
img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
